# Create Dataframe

In [2]:
import pandas as pd

In [3]:
table_TO = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [4]:
print(f'Total tables: {len(table_TO)}')

Total tables: 3

In [5]:
#Guess that it is the first table
df = table_TO[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
#Size before cleaning
df.shape

(180, 3)

In [7]:
#drop non asigned rows
df2=df[df.Borough != 'Not assigned']
df2.shape

(103, 3)

In [8]:
#See if there are any "Not assigned" Neigborhoods
for i in df2.columns:
    df2[i].astype('str').apply(lambda x: print(df2[i].name) if x.startswith('Not assigned') else 'pass')

# Add Zipcodes

In [36]:
PCLATLON=pd.read_csv('GSPC.csv')

In [40]:
PCLATLON.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [44]:
zips = pd.merge(df2,
                 PCLATLON[['Postal Code','Latitude', 'Longitude']],on='Postal Code')
zips.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
1,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
2,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
3,M4G,East York,Leaside,43.709060,-79.363452
4,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383

In [1]:
zips.size

NameError: name 'zips' is not defined